.container {
    margin: 20px; /* Adiciona uma margem de 20px em todas as direções */
  }
  
  .container h1 {
    margin-bottom: 10px; /* Adiciona uma margem inferior de 10px para os títulos h1 */
  }
  
  .container p {
    margin-bottom: 15px; /* Adiciona uma margem inferior de 15px para os parágrafos */
  }
  
  .email {
    color: blue; /* Cor azul para indicar um link */
    text-decoration: underline; /* Sublinhado para indicar um link */
    cursor: pointer; /* Muda o cursor para indicar que o texto é clicável */
  }
  