<div class="container">
    <h1>Contato</h1>
    <p>Em caso de problemas, dúvidas ou sugestões, envie um email para <span class="email">igorrt66&#64;gmail.com</span> com o assunto "Smartflow - Contato"</p>
    <h1>Feedback</h1>
    <p>Ajude na pesquisa para aprimorar o Smartflow preenchedo o questionário no link abaixo. Sua resposta é muito importante!</p>
    <p><a href="https://forms.gle/PRfn7zkXy456G2qW9" target="_blank">Link para o questionário de feedback</a></p>
    <h1>Sobre</h1>
    <p>Smartflow é criado por Igor Roiz Teixeira como parte do projeto de Monografia em Sistemas de Informação do curso de Sistemas de Informação da UFMG para a conclusão do curso de Bacharelado.</p>
    <p>Esse projeto é feito por meio do programa TCC-Labs da BH-Tec e em parceria com a IEBT Innovation.</p>
    <p>Esse projeto trata-se apenas de um protótipo e não representa nenhum produto final.</p>
</div>
