<div class="container">
    <h1>Contato</h1>
    <p>Em caso de problemas, dúvidas ou sugestões, envie um email para <span class="email">igorrt66&#64;gmail.com</span> com o assunto "Smartflow - Contato"</p>
    <h1>Sobre</h1>
    <p>Smartflow é criado por Igor Roiz Teixeira como parte do projeto de Monografia em Sistemas de Informação do curso de Sistemas de Informação da UFMG para a conclusão do cruso de Bacharelado.</p>
    <p>Esse projeto é feito por meio do programa TCC-Labs da BH-Tec e em parceria com a IEBT Innovation.</p>
    <p>Esse projeto trata-se apenas de um protótipo e não representa nenhum produto final.</p>
</div>
