<div class="home-container">
  <div>
      Bem-vindo, {{ userName }}
  </div>
    
  <div class="filter-container">
    <!-- Filtros de Pesquisa -->
    <h2>Filtros de Pesquisa</h2>
    
    <div class="fields-group">
      <label for="nameInput">Nome:</label>
      <input class="filter-field" id="nameInput" type="text" [(ngModel)]="searchFilters.name">

      <label for="startDateInput">Data de Início:</label>
      <input class="filter-field" id="startDateInput" type="date" [(ngModel)]="searchFilters.startDate">

      <label for="endDateInput">Data de Fim:</label>
      <input class="filter-field" id="endDateInput" type="date" [(ngModel)]="searchFilters.endDate">
    </div>

    <div class="fields-group">
      <label for="descriptionInput">Descrição:</label>
      <input class="filter-field" id="descriptionInput" type="text" [(ngModel)]="searchFilters.description">
    
      <label for="tagsInput">Tags:</label>
      <input class="filter-field" id="tagsInput" type="text" [(ngModel)]="tags" placeholder="Insira as tags separadas por vírgula">
    </div>

    <div class="fields-group">
      <label for="teamSelect">Times:</label>
      <select class="filter-field" id="teamSelect" multiple [(ngModel)]="selectedTeams">
        <option *ngFor="let team of userTeams" [ngValue]="team.teamId">{{ team.name }}</option>
      </select>
    </div>

    <!-- Botão de Pesquisa -->
    <button class="btn btn-primary" (click)="search()">Buscar</button>
  </div>

  

  <div class="results-container" *ngIf="showResults">
      <!-- Resultados da Pesquisa -->
      <h2>Resultados da Pesquisa</h2>
      <table class="results-table">
        <thead>
          <tr>
            <th (click)="sort('name')">Nome <span *ngIf="sortColumn === 'name' && sortDirection === 'asc'">&#9650;</span><span *ngIf="sortColumn === 'name' && sortDirection === 'desc'">&#9660;</span></th>
            <th (click)="sort('uploadDate')">Upload <span *ngIf="sortColumn === 'uploadDate' && sortDirection === 'asc'">&#9650;</span><span *ngIf="sortColumn === 'uploadDate' && sortDirection === 'desc'">&#9660;</span></th>            
            <th>Arquivo</th>
            <th>Link</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of informationResults">
            <td>{{ info.name }}</td>
            <td>{{ info.uploadDate | date:'dd/MM/yyyy' }}</td>
            <td>
              <ng-container *ngIf="info.file">
                <a [href]="getDownloadUrl(info.informationId)">Download</a>
              </ng-container>
              <ng-container *ngIf="!info.file">
                -
              </ng-container>
            </td>
            <td><a *ngIf="info.link" [href]="formatLink(info.link)" target="_blank">{{ info.link }}</a></td>
            <td class="details-cell">
              <button class="btn btn-details" (click)="openDetailsModal(info)">Detalhes</button>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>
</div>