.welcome-message {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333; /* Cor do texto */
  border-radius: 8px; /* Borda arredondada */
  display: inline-block; /* Para que o bloco se ajuste ao conteúdo */
  margin-bottom: 15px;
}

.welcome-text {
  font-weight: bold; /* Texto em negrito */
}

.username {
  color: #F98903; /* Cor do nome de usuário */
  font-weight: bold;
}

.btn-primary {
    width: 10%;
    margin-top: 20px;
    background-color: #F98903;
    border-color: #F98903;
    border-radius: 8px;
    color: #ffffff;
  }
  
  .btn-primary:hover {
    background-color: #e63e00;
    border-color: #e63e00;
  }

  /* Estilo para a página principal */
.home-container {
    margin-left: 40px; /* Margem geral em torno de todos os elementos */
    margin-top: 30px;
  }
  
  /* Estilo para os filtros de pesquisa */
  .filter-container {
    margin-bottom: 20px; /* Margem inferior para separar os filtros do botão de pesquisa */
  }
  
  /* Estilo para os resultados da pesquisa */
  .results-container {
    margin-top: 20px; /* Margem superior para separar os resultados dos filtros */
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  /* Estilo para a tabela de resultados */
  .results-table {
    width: 100%;
    border-collapse: collapse; /* Mesclar as bordas da tabela */
  }
  
  /* Estilo para as células da tabela */
  .results-table th, .results-table td {
    border: 1px solid #ddd; /* Borda das células */
    padding: 8px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda */
  }
  
  /* Estilo para as células do cabeçalho da tabela */
  .results-table th {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho da tabela */
  }
  
  .filter-field{
    margin-right: 3px;
    margin-left: 5px;
    width: 250px;
  }

  .fields-group{
    margin-bottom: 30px;
  }

  .details-cell {
    text-align: center;
}

  .btn-details {
    width: 50%;
    background-color: #F98903;
    border-color: #F98903;
    border-radius: 8px;
    color: #ffffff;
  }

/* CSS personalizado para o campo mat-select */
.mat-select-filter-field {
  border: 2px solid #c2bebe; /* Adiciona uma borda ao redor do campo */
  border-radius: 4px; /* Adiciona bordas arredondadas */
  width: 20%;
}

/* Ajusta o posicionamento da seta de expansão */
.mat-select-arrow {
  right: 8px; /* Ajusta a posição da seta para a direita */
  top: 50%; /* Centraliza verticalmente a seta */
  transform: translateY(-50%); /* Move a seta para o centro verticalmente */
  margin-right: 15px;
}

.info-icon {
  position: relative;
  top: 3px;
  margin-left: 5px;
  font-size: 18px;
  cursor: help; /* Muda o cursor para uma mãozinha */
}

.info-icon:hover::after {
  content: attr(title); /* Exibe o texto informativo */
  top: -30px; /* Posiciona o texto acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: white; /* Cor de fundo */
  color: #F98903; /* Cor do texto */
  border-radius: 8px;
  border-color: #333;
  font-size: 14px;
  white-space: nowrap;
}

.label{
  margin-left: 20px;
}

.mat-select{
  width: 250px;
}
