<app-menu></app-menu>

<button class="create-team-button" (click)="openTeamRegisterModal()">+ Criar Novo Time</button>

<table class="team-table">
    <caption>Lista de Times</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Editar</th>
        <th>Adicionar Membros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.teamId }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.description }}</td>
        <td><button (click)="editTeam(team.teamId)">Editar</button></td>
        <td><button (click)="addMembers(team.teamId)">Adicionar</button></td>
      </tr>
    </tbody>
</table>