.menu {
  background-color: #f98903; /* Fundo laranja */
  color: #ffffff; /* Letras brancas */
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens */
  padding: 10px 20px; /* Adiciona espaçamento interno */
}

.logo {
  margin-right: 50px; /* Adiciona espaçamento entre a logo e os links */
}

.logo img {
  width: 80px; /* Tamanho da logo */
}

.links ul {
  list-style-type: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 0;
}

.links ul li {
  display: inline; /* Exibe os itens em linha */
  margin-right: 10px; /* Adiciona espaçamento entre os links */
}

.links ul li:last-child {
  margin-right: 0; /* Remove o espaçamento do último link */
}

.links ul li a {
  color: inherit; /* Herda a cor do texto definida para o menu */
  text-decoration: none; /* Remove a sublinhado padrão dos links */
  padding: 8px 12px; /* Adiciona espaçamento interno aos links */
  border-radius: 4px; /* Adiciona bordas arredondadas aos links */
  transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave para a mudança de cor */
}

.links ul li a:hover {
  background-color: #ffffff; /* Muda o background para branco ao passar o mouse */
  color: #f98903; /* Muda a cor do texto para laranja ao passar o mouse */
}