.menu {
  background-color: #f98903;
  color: #ffffff;
  display: flex;
  justify-content: flex-start; /* Alterado para alinhar à esquerda */
  align-items: center;
  padding: 10px 20px;
}

.logo {
  margin-right: 20px; /* Adiciona margem à direita para alinhar à esquerda */
}

.logo img {
  width: 80px;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links ul li {
  display: inline-block;
  position: relative;
}

.links ul li a {
  color: inherit;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.links ul li a:hover {
  background-color: #ffffff;
  color: #f98903;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.dropbtn:hover {
  background-color: #ffffff;
  color: #f98903;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f98903;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f98903;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  transition: color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f98903;
  color: #ffffff;
}

.dropdown-content.show {
  display: block;
}
