<div class="container">
    <div class="card">
        <button class="btn btn-close" mat-button mat-dialog-close></button>
        <h1>{{ title }}</h1>
        <form (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" [(ngModel)]="userData.name" required class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="userData.email" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" [(ngModel)]="userData.password" required class="form-control">
            </div>
            <div class="form-group">
                <label for="roles">Papéis:</label>
                <select id="roles" name="roles" multiple [(ngModel)]="userData.roles" required class="form-control">
                    <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
                </select>
            </div>
            <button *ngIf="isEditMode" type="button" class="btn-delete" (click)="deleteUser()">Deletar Usuário</button>
            <button type="submit" class="btn-primary">{{ submitButtonLabel }}</button>
        </form>
    </div>
</div>
